In [21]:
# Import pandas
import pandas as pd
import matplotlib.pyplot as plt

# Read the file into a DataFrame: df
df = pd.read_csv ('dob_job_application_filings_subset.csv')

# Print the head of df
print(df.head())

# Print the tail of df
print(df.tail())

# Print the shape of df
print(df.shape)

# Print the columns of df
print(df.columns)

# Print the head and tail of df_subset
print(df.head())
print(df.tail())

       Job #  Doc #        Borough Initial Cost Total Est. Fee  \
0  121577873      2      MANHATTAN   $75,000.00        $986.00
1  520129502      1  STATEN ISLAND        $0.00      $1,144.00
2  121601560      1      MANHATTAN   $30,000.00        $522.50
3  121601203      1      MANHATTAN    $1,500.00        $225.00
4  121601338      1      MANHATTAN   $19,500.00        $389.50

   Existing Zoning Sqft  Proposed Zoning Sqft  Enlargement SQ Footage  \
0                     0                     0                       0
1                     0                     0                       0
2                     0                     0                       0
3                     0                     0                       0
4                     0                     0                       0

   Street Frontage  ExistingNo. of Stories  Proposed No. of Stories  \
0                0                     0.0                        0
1              143                     0.0                        0
2                0                     5.0                        5
3                0                    12.0                       12
4                0                     6.0                        6

   Existing Height  Proposed Height
0                0                0
1                0                0
2               54               54
3              120              120
4               64               64
           Job #  Doc #        Borough Initial Cost Total Est. Fee  \
12841  520143988      1  STATEN ISLAND   $30,700.00        $448.62
12842  121613833      1      MANHATTAN   $62,000.00        $852.10
12843  121681260      1      MANHATTAN  $166,000.00      $1,923.30
12844  320771704      1       BROOKLYN   $65,000.00        $883.00
12845  520143951      1  STATEN ISLAND    $9,500.00        $316.50

       Existing Zoning Sqft  Proposed Zoning Sqft  Enlargement SQ Footage  \
12841                  1490                  1782                     206
12842                     0                     0                       0
12843                     0                     0                       0
12844                     0                     0                       0
12845                     0                     0                       0

       Street Frontage  ExistingNo. of Stories  Proposed No. of Stories  \
12841                0                     1.0                        1
12842                0                     5.0                        5
12843                0                     6.0                        6
12844                0                     1.0                        1
12845                0                     1.0                        1

       Existing Height  Proposed Height
12841               10               10
12842               55               55
12843               64               64
12844               18               18
12845               18               18
(12846, 13)
Index([u'Job #', u'Doc #', u'Borough', u'Initial Cost', u'Total Est. Fee',
       u'Existing Zoning Sqft', u'Proposed Zoning Sqft',
       u'Enlargement SQ Footage', u'Street Frontage',
       u'ExistingNo. of Stories', u'Proposed No. of Stories',
       u'Existing Height', u'Proposed Height'],
      dtype='object')
       Job #  Doc #        Borough Initial Cost Total Est. Fee  \
0  121577873      2      MANHATTAN   $75,000.00        $986.00
1  520129502      1  STATEN ISLAND        $0.00      $1,144.00
2  121601560      1      MANHATTAN   $30,000.00        $522.50
3  121601203      1      MANHATTAN    $1,500.00        $225.00
4  121601338      1      MANHATTAN   $19,500.00        $389.50

   Existing Zoning Sqft  Proposed Zoning Sqft  Enlargement SQ Footage  \
0                     0                     0                       0
1                     0                     0                       0
2                     0                     0                       0
3                     0                     0                       0
4                     0                     0                       0

   Street Frontage  ExistingNo. of Stories  Proposed No. of Stories  \
0                0                     0.0                        0
1              143                     0.0                        0
2                0                     5.0                        5
3                0                    12.0                       12
4                0                     6.0                        6

   Existing Height  Proposed Height
0                0                0
1                0                0
2               54               54
3              120              120
4               64               64
           Job #  Doc #        Borough Initial Cost Total Est. Fee  \
12841  520143988      1  STATEN ISLAND   $30,700.00        $448.62
12842  121613833      1      MANHATTAN   $62,000.00        $852.10
12843  121681260      1      MANHATTAN  $166,000.00      $1,923.30
12844  320771704      1       BROOKLYN   $65,000.00        $883.00
12845  520143951      1  STATEN ISLAND    $9,500.00        $316.50

       Existing Zoning Sqft  Proposed Zoning Sqft  Enlargement SQ Footage  \
12841                  1490                  1782                     206
12842                     0                     0                       0
12843                     0                     0                       0
12844                     0                     0                       0
12845                     0                     0                       0

       Street Frontage  ExistingNo. of Stories  Proposed No. of Stories  \
12841                0                     1.0                        1
12842                0                     5.0                        5
12843                0                     6.0                        6
12844                0                     1.0                        1
12845                0                     1.0                        1

       Existing Height  Proposed Height
12841               10               10
12842               55               55
12843               64               64
12844               18               18
12845               18               18

In [6]:
df.shape

(12846, 13)

In [7]:
#Further diagnosis
# Print the info of df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12846 entries, 0 to 12845
Data columns (total 13 columns):
Job #                      12846 non-null int64
Doc #                      12846 non-null int64
Borough                    12846 non-null object
Initial Cost               12846 non-null object
Total Est. Fee             12846 non-null object
Existing Zoning Sqft       12846 non-null int64
Proposed Zoning Sqft       12846 non-null int64
Enlargement SQ Footage     12846 non-null int64
Street Frontage            12846 non-null int64
ExistingNo. of Stories     12846 non-null int64
Proposed No. of Stories    12846 non-null int64
Existing Height            12846 non-null int64
Proposed Height            12846 non-null int64
dtypes: int64(10), object(3)
memory usage: 1.3+ MB
None

In [8]:
df.describe()

,Job #,Doc #,Existing Zoning Sqft,Proposed Zoning Sqft,Enlargement SQ Footage,Street Frontage,ExistingNo. of Stories,Proposed No. of Stories,Existing Height,Proposed Height
count,1.284600e+04,12846.000000,1.284600e+04,1.284600e+04,12846.000000,12846.000000,12846.000000,12846.000000,12846.000000,12846.000000
mean,2.426788e+08,1.162930,1.439973e+03,2.007286e+03,46.101432,3.069360,8.062354,8.144325,94.022809,94.917562
std,1.312507e+08,0.514937,3.860757e+04,4.081570e+04,784.216569,37.246034,11.874080,11.843492,146.917360,146.580666
min,1.036438e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.216206e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,1.000000,2.000000,20.000000,21.000000
50%,2.202645e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,4.000000,4.000000,45.000000,45.000000
75%,3.208652e+08,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,9.000000,9.000000,105.000000,107.000000
max,5.400246e+08,9.000000,2.873107e+06,2.873107e+06,50384.000000,3160.000000,102.000000,102.000000,4200.000000,4200.000000

In [10]:
#Frequency counts for categorical data
# Print the value counts for 'Borough'
print(df['Borough'].value_counts(dropna=False))

MANHATTAN        6310
BROOKLYN         2866
QUEENS           2121
BRONX             974
STATEN ISLAND     575
Name: Borough, dtype: int64